#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.top {
  text-align: center;
}

.layout {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  justify-content: space-between;
}

.input {
  margin: 0 auto;
  width: 80%;
  border: 1px solid #bec3c4;
  border-radius: 12px;
  font-size: 20px;
  padding: 0 16px;
  text-align: left;
  line-height: 56px;
  outline: none;
  margin-top: 16px;
  min-height: 56px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.keyboard {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  grid-template-areas:
    "a b c"
    "d e f"
    "g h i";
}
/*
.money {
  padding-bottom: 12px;
  border-bottom: 1px solid #e9e9e9;
  margin: 0 24px;

  .sufix {
    font-size: 36px;
    font-weight: bold;
  }

  .amount {
    font-size: 40px;
    padding-left: 10px;
  }
} */
/*
.key-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  > div {
    border: 0.1px solid rgba(92, 175, 162, 0.1);
    padding: 5px 0px;
    border-radius: 3px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    &:active {
      background-color: rgb(230, 230, 230, 0.1);
    }
  }

  .confirm {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: rgb(21, 146, 127);
    color: #fff;

    &:active {
      background-color: rgb(21, 146, 127, 0.2);
    }
  }

  .zero {
    grid-column-start: 1;
    grid-column-end: 3;
  }
} */
