#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.top {
  text-align: center;
}

.layout {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  justify-content: space-between;
}

.input {
  margin: 0 auto;
  width: 80%;
  border: 1px solid #bec3c4;
  border-radius: 12px;
  font-size: 20px;
  padding: 0 16px;
  text-align: left;
  line-height: 56px;
  outline: none;
  margin-top: 16px;
  min-height: 56px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
